@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

/* Add to globals.css */
.prose a.citation {
  @apply text-blue-600 hover:text-blue-800 no-underline;
}

.prose {
  @apply text-gray-700;
}

.prose h1,
.prose h2,
.prose h3 {
  @apply text-gray-800 font-semibold;
}

.prose ul {
  @apply list-disc pl-6 space-y-2;
}

.prose ol {
  @apply list-decimal pl-6 space-y-2;
}

.prose p {
  @apply mb-4 last:mb-0;
}

.prose code {
  @apply bg-gray-100 px-1 rounded;
}

.prose br {
  @apply block content-[''] h-4;
}

.prose a {
  @apply text-blue-600 hover:text-blue-800 no-underline;
}

/* Add custom scrollbar styles */
@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}
